<!DOCTYPE html>
<html lang="en" class="dark" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>404 Not Found - TeleGraph</title>
   <link rel="icon" href="/assets/logoImg.svg" type="image/x-icon" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="flex flex-col justify-center items-center min-h-screen px-4 text-center bg-base-100 text-base-content font-sans">
  <img src="/assets/notfoundImg.svg" alt="404" class="w-full max-w-2xl h-auto mb-6" />
  <h2 class="text-3xl mb-4 font-semibold">Oops! Page Not Found</h2>
  <p class="max-w-md mb-8 text-gray-300">
    The page you are looking for doesn’t exist or has been moved.
  </p>
  <a href="/" class="inline-block px-6 py-3 rounded-full font-semibold bg-accent text-accent-content transition-colors duration-300 hover:bg-opacity-90">
    Go Home
  </a>
</body>
</html>
