.scroll-reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.2s;
}

.scroll-reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.bg-gradient-telegraph {
  background: linear-gradient(
    to bottom left,
    oklch(44% 0.017 285.786) 40%,
    oklch(14% 0 0) 80%
  );
}

.bg-gradient-telegraph3 {
  background: linear-gradient(
    to bottom right,
    oklch(44% 0.017 285.786) 40%,
    oklch(14% 0 0) 80%
  );
}

.bg-gradient-telegraph-bottom {
  background: linear-gradient(
    to top right,
    oklch(14% 0 0) 50%,   /* black from bottom */
    oklch(44% 0.017 285.786) 90%  /* white toward top-right */
  );
}

.font-dancing {
    font-family: 'Dancing Script', cursive;
}

.font-open {
    font-family: 'Open Sans', sans-serif;
}

/* CSS */
.container {
  position: relative;
  background-color: black;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  z-index: 0;
  background: radial-gradient(
    ellipse 80% 60% at 50% 0%,
    rgba(226, 232, 240, 0.15),
    transparent 70%
  ), 
  #000000;
}


/* CSS */
.container-indigo {
  position: relative;
  min-height: 100vh; /* full viewport height */
  width: 100%;
  background-color: black;
}

.container-indigo::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  z-index: 0;
  background: radial-gradient(
    ellipse 80% 60% at 50% 0%,
    rgba(99, 102, 241, 0.25),
    transparent 70%
  ),
  #000000;
}
