.scroll-reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  transition-delay: 0.2s;
}

.scroll-reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.bg-gradient-telegraph {
  background: linear-gradient(
    to bottom left,
    oklch(44% 0.017 285.786) 40%,
    oklch(14% 0 0) 80%
  );
}

.bg-gradient-telegraph3 {
  background: linear-gradient(
    to bottom right,
    oklch(44% 0.017 285.786) 40%,
    oklch(14% 0 0) 80%
  );
}

.bg-gradient-telegraph-bottom {
  background: linear-gradient(
    to top right,
    oklch(14% 0 0) 50%,   /* black from bottom */
    oklch(44% 0.017 285.786) 90%  /* white toward top-right */
  );
}

.font-dancing {
    font-family: 'Dancing Script', cursive;
}

.font-open {
    font-family: 'Open Sans', sans-serif;
}

/* CSS */
.container {
  position: relative;
  background-color: black;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  z-index: 0;
  background: radial-gradient(
    ellipse 80% 60% at 50% 0%,
    rgba(226, 232, 240, 0.15),
    transparent 70%
  ), 
  #000000;
}


/* CSS */
.container-indigo {
  position: relative;
  min-height: 100vh; /* full viewport height */
  width: 100%;
  background-color: black;
}

.container-indigo::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  z-index: 0;
  background: radial-gradient(
    ellipse 80% 60% at 50% 0%,
    rgba(99, 102, 241, 0.25),
    transparent 70%
  ),
  #000000;
}

.glass {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass_div {
  /* From https://css.glass */
background: rgba(52, 55, 69, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.1px);
-webkit-backdrop-filter: blur(12.1px);
border: 1px solid rgba(52, 55, 69, 0.3);
}

.blob {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.7;
  z-index: 0;
  animation: blobFloat 20s infinite alternate ease-in-out;
}

/* First Blob Color */
.blob:nth-child(1) {
  background: oklch(42% 0.199 265.638);
  top: -50px;
  left: -50px;
}

/* Second Blob Color */
.blob:nth-child(2) {
  background: oklch(64% 0.222 41.116);
  bottom: -50px;
  right: -50px;
}

/* Simple Floating Animation */
@keyframes blobFloat {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(20px, -20px) scale(1.1);
  }
  100% {
    transform: translate(-20px, 20px) scale(1);
  }
}


.side_glass {
  background: rgba(52, 55, 69, 0.22);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.1px);
-webkit-backdrop-filter: blur(12.1px);
}